.profile-card{
    text-align: center;
    
}

.profile-card img{
    width: 150px;
    height: 150px;
    border-radius: 50px;
   object-fit: cover;
}
a:hover{
    background-color: rgb(144, 142, 142);
}


/*to style side bar using -webkit-scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1c70b5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1c70b5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background:#1c70b5;
  border-radius: 10px;
}